<!DOCTYPE html>
<html>
<head>
    <title>Team Info</title>
</head>
<body>
    <button id="refreshButton" onclick="updateTeamInfo()">Refresh</button>
    <div id="teamInfo">
        <% teamInfo.forEach(info => { %>
            <div>
                <h2><%= info.name %></h2>
                <p>Team: <%= info.team %></p>
                <p>Mat: <%= info.mat %></p>
                <p>Time: <%= info.time %></p>
            </div>
        <% }); %>
    </div>

    <script>
        function updateTeamInfo() {
            fetch('/update-sheet')
                .then(response => {
                    console.log('Response:', response);
                    return response.json();
                })
                .then(data => {
                    console.log('Data:', data);
                    if (data.success) {
                        location.reload(); // Reload the page to update the team info
                    } else {
                        console.error(`Error updating team info: ${data.message}`);
                    }
                })
                .catch(error => console.error(`Error updating team info: ${error.message}`));
        }
    </script>
    </body>
</html>